h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ===============MOBILE HEADER STYLE==================== */
.menu {
    display: none;
}
.contact {
    display: none;
}
.page-header {
    padding-top: 15px;
    padding-bottom: 8px;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link {
    color: #2E2F42;
    }

@media screen and (max-width:766px) {
.mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    /* --=============MOBILE MENU================ */

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
    }
    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
        transition: transform 250ms linear;
    }
    .mobile-menu-container {
        position: relative;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        stroke: #2E2F42;
        padding: 0;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid rgba(46, 47, 66, 0.1);
        cursor: pointer;
        }
    .mobile-menu-navigation {
        display: inline-flex;
        margin-top: 72px;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-menu-item {
        margin-bottom: 40px;
    }
    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .mobile-menu-link-own {
        color: #404BBF;
    }
    .mobile-contact {
        margin-top: 168px;
    }
    .mobile-contact-container {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .mobile-contact-style {
        color: #4D5AE5;
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
        }
    .tel {
        color: #434455;
    }
    .mobile-block-icons-low {
        display: inline-flex;
        align-items: flex-start;
        width: 280px;
        gap: 40px;
        margin-top: 48px;
    }
    .mobile-team-icon-low {
        fill: #F4F4FD;
    }
    .mobile-all-icons-low {
        width: 40px;
        height: 40px;
    }
    .mobile-icons-low {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* ===============MOBILE HEADER STYLE end==================== */

/* ===============MOBILE Section 1 - hero image================ */
.main {
    background-color: #2e2f42;
    padding: 72px 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 72px;
}
.service {
    background-color: #4D5AE5;
    color: var(--WHITE, #ffffff);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}
.service:hover {
    background-color: #404bbf;
}
.service:focus {
    background-color: #404bbf;
}
.service {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 320px;
    max-height: 432px;
}
@media (min-resolution: 192dpi) {
.main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-mobile-2x.jpg);
}
    }


@media screen and (min-width: 768px) {
.container {
    max-width: 736px;
}



/* ===============TABLET HEADER STYLE==================== */
.mobile-menu-wrapper {
    display: none;
}
.mobile-menu-open-btn {
    display: none;
}
.page-header {
    padding-top: 18px;
    padding-bottom: 12px;
}
.page-navigation {
display: flex;
justify-content: space-between;
align-items: center;
}
.menu {
display: flex;
gap: 40px;
margin-left: 120px;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.logo-link {
    color: #2E2F42;
}
.navigation-own {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-own::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:focus {
    text-decoration: underline;
    color: #404bbf;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
display: flex;
font-style: normal;
}
.contact-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.contact-style {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serifo;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

/* ===============TABLET Section 1 - hero image================ */
.main {
   padding: 112px 0;
  }

.title {
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 36px;
   padding: 0px;
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 768px;
    max-height: 436px;
}

@media (min-resolution: 192dpi) {
    .main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-tablet-2x.jpg);
    }
}

/* ===============TABLET STYLE end==================== */
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1168px;
    }

/* ===============DESKTOP HEADER STYLE==================== */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-link {
    color: var(--NAVY-BLUE, #2E2F42);
}
.navigation-own {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-own::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:focus {
    text-decoration: underline;
    color: #404bbf;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact {
    font-style: normal;
}
.contact-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.contact-style {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serifo;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-style:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-style:focus {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ===============DESKTOP Section 1 - hero image================ */

.main {
    padding: 188px 0;
}
.title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        max-height: 600px;
}

}





/* ===============DESKTOP  STYLE end==================== */