h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ===============MOBILE HEADER STYLE==================== */
.menu {
    display: none;
}
.contact {
    display: none;
}
.page-header {
    padding-top: 15px;
    padding-bottom: 8px;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link {
    color: #2E2F42;
    }

@media screen and (max-width:766px) {
.mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    /* --=============MOBILE MENU================ */

    .mobile-menu-wrapper {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
        padding: 72px 24px 40px 16px;
    }
    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
        transition: transform 250ms linear;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        stroke: #2E2F42;
        padding: 0;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid rgba(46, 47, 66, 0.1);
        cursor: pointer;
        }
        .mobile-menu-box {
            margin-top: auto;
        }
    .mobile-menu-navigation {
        display: inline-flex;
        
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-menu-item {
        margin-bottom: 40px;
    }
    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .mobile-menu-link-own {
        color: #404BBF;
    }
    
    .mobile-contact-container {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .mobile-contact-style {
        color: #4D5AE5;
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
        }
    .tel {
        color: #434455;
    }
    .mobile-block-icons-low {
        display: inline-flex;
        align-items: flex-start;
        width: 280px;
        gap: 40px;
        margin-top: 48px;
    }
    .mobile-team-icon-low {
        fill: #F4F4FD;
    }
    .mobile-all-icons-low {
        width: 40px;
        height: 40px;
    }
    .mobile-icons-low {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* ===============MOBILE HEADER STYLE end==================== */

/* ===============MOBILE Section 1 - hero image================ */
.main {
    background-color: #2e2f42;
    padding: 72px 0;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 72px;
}
.service {
    background-color: #4D5AE5;
    color: var(--WHITE, #ffffff);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    display: block;
    padding: 16px 32px;
    margin-left: auto;
    margin-right: auto;
}
.service:hover {
    background-color: #404bbf;
}
.service:focus {
    background-color: #404bbf;
}
.service {
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Mobile/people-office-mobile-1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 320px;
    max-height: 432px;
}
@media (min-resolution: 192dpi) {
.main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Mobile/people-office-mobile-2x.jpg);
}
    }

        /* =============== MOBILE Section 2 ================ */
.feature-icon {
    display: none;
}
.feature {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 72px;
    margin-top: 96px;
    margin-bottom: 96px;
}
.title-three {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 500;
    line-height:1.5;
    letter-spacing: 0.02em;
}
/* =================== MOBILE Section 3 =================== */
.foto {
    background: var(--CLOUD, #F4F4FD);
    padding: 96px 0;
}
.our-team {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.title-two {
    color: #2E2F42;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.team {
    display: flex;
    width: 264px;
    padding-bottom: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.title-team-list {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.text-img {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
}
.block-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.all-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}
.team-icon {
    fill: #F4F4FD;
}
.icons {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons:hover {
    background-color: #404bbf;
}
.icons:focus {
    background-color: #404bbf;
}

/* =================== MOBILE Section 4 =================== */
.card-text {
    display: none;
}
.container-portfolio {
    margin-top: 96px;
    margin-bottom: 96px;
}
.our-portfolio {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}
.application {
    display: flex;
    margin: 32px 0;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.title-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.text {
    font-weight: 400;
}
/* ================== MOBILE FOOTER ======================= */
.low {
    background-color: #2e2f42;
    padding: 96px 16px;
}
.footer-container {
    margin: 0;
    padding: 0;
}
.container-logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.logo-link-low {
    color: var(--CLOUD, #F4F4FD);
}
.text-low {
    color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 288px;
}
.container-media {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 72px 40px;
}
.title-low {
    color: var(--WHITE, #FFFFFF);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.block-icons-low {
    display: flex;
    gap: 16px;
}
.all-icons-low {
    width: 40px;
    height: 40px;

}
.team-icon-low {
    fill: #f4f4fd;
}
.icons-low {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .icons-low:hover {
     background-color: #31d0aa;
 }

 .icons-low:focus {
     background-color: #31d0aa;
 }

 .foter-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;      
 }
.foter-subscribe-form {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.subscribe-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: #FFF;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-input::placeholder {
    color: #ffffff;
}
.subscribe-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}
.subscribe-button-svg {
    margin-left: 16px;
}
/* ================== MOBILE BACKDROP STYLES ======================= */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
/* ================== MOBILE MODAL WINDOW STYLES ======================= */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background-color: #FCFCFC;
    border-radius: 4px;
    padding: 72px 16px 24px 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 0;
    stroke: #2E2F42;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    display: block;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

.review-form-field {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.review-form-input:focus {
    border-color: #4D5AE5;
}

.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus+.review-form-input-icon {
    fill: #4D5AE5;
    stroke: #4D5AE5;
}

.review-form-field-wrapper {
    margin-bottom: 16px;

}

.review-form-comment {
    height: 120px;
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms linear;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.40);
}

.review-form-comment:focus {
    border-color: #4D5AE5;
}

.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-form-checkbox-label {
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-checkbox:checked+.review-form-checkbox-label>.review-form-own-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.review-form-checkbox:focus+.review-form-checkbox-label>.review-form-own-checkbox {
    outline: 1px solid #404BBF;
}

.review-form-own-checkbox-icon {
    fill: #f4f4fd;
    opacity: 0;
}

.review-form-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
}

.privacy-policy {
    color: #4d5ae5;
}

.review-form-submit-btn {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-submit-btn:focus {
    outline: 1px solid #404BBF;
}
/* =========================TABLET ========================= */

@media screen and (min-width: 768px) {
.container {
    max-width: 736px;
}

/* ==================TABLET HEADER STYLE==================== */
.mobile-menu-wrapper {
    display: none;
}
.mobile-menu-open-btn {
    display: none;
}
.page-header {
    padding-top: 18px;
    padding-bottom: 12px;
}
.page-navigation {
display: flex;
justify-content: space-between;
align-items: center;
}
.menu {
display: flex;
gap: 40px;
margin-left: 120px;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}
.logo-link {
    color: #2E2F42;
}
.navigation-own {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-own::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:focus {
    text-decoration: underline;
    color: #404bbf;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contact {
display: flex;
font-style: normal;
}
.contact-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.contact-style {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serifo;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

/* ===============TABLET Section 1 - hero image================ */
.main {
   padding: 112px 0;
  }

.title {
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   margin-left: 100px;
   margin-right: 100px;
   margin-bottom: 36px;
   padding: 0px;
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Tablet/people-office-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-width: 768px;
    max-height: 436px;
}
@media (min-resolution: 192dpi) {
    .main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Tablet/people-office-tablet-2x.jpg);
    }
}

/* ===============TABLET Section 2 ================ */
.feature {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.feature-list {
    position: relative;
    overflow: hidden;
    width: calc((100% - 24px) / 2);
}
.title-three {
    text-align: start;
}
.text {
    text-align: start;
}
/* ===============TABLET Section 3 ================ */
.our-team {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
.team {
    position: relative;
    overflow: hidden;
    width: calc((100% - 24px) / 2);
}

/* ===============TABLET Section 4 ================ */
.our-portfolio {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.our-portfolio-list {
    position: relative;
    overflow: hidden;
    width: calc((100% - 24px) / 2);
}
/* ================== TABLET FOOTER ======================= */
.container-logo {
    margin-left: 96px;
    align-items: flex-start;
    margin-right: 24px;
}
.container-media {
    align-items: flex-start;
    margin: 0;
}
.foter-subscribe {
    justify-content: flex-start;
}
.foter-subscribe-form-input {
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 72px;
    margin-left: 96px;
}
.foter-subscribe-form {
    flex-direction: row;
    gap: 24px;
}
/* ================== TABLET MODAL WINDOW STYLES ======================= */
.modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
}
/* ===============TABLET STYLE end==================== */
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 16px;
        padding-right: 16px;
    }
/* ===============DESKTOP HEADER STYLE==================== */

.page-header {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #e7e9fc;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }
.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.page-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;
    margin-left: 0;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}
.logo-link {
    color: var(--NAVY-BLUE, #2E2F42);
}
.navigation-own {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-own::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}
.navigation {
    display: block;
    padding-top: 24px;
    padding-bottom: 12px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.navigation:focus {
    text-decoration: underline;
    color: #404bbf;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact {
    font-style: normal;
}
.contact-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.contact-style {
    color: var(--SLATE, #434455);
    font-family: 'Roboto', sans-serifo;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-style:hover {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-style:focus {
    color: var(--OCEAN, #404bbf);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ===============DESKTOP Section 1 - hero image================ */

.main {
    padding: 188px 0;
}
.title {
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

/* Style hero image */
.main {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Desktop/people-office-desktop-1x.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        max-width: 1440px;
        max-height: 600px;
}
@media (min-resolution: 192dpi) {
    .main {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Desktop/people-office-desktop-2x.jpg);
    }
}

/* ===============DESKTOP Section 2 ================ */

.feature {
    display: flex;
    gap: 24px;
}
.feature-list {
    width: calc((100% - 72px) / 4);
}

/* Style !-- Section 2 -- */

.feature-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    margin-top: 24px;
}
.conteiner-icon {
    display: flex;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}
.title-three {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* ===============DESKTOP Section 3 ================ */
.foto {
    padding: 120px 0;
}
.our-team {
    display: flex;
    gap: 24px;
}
.team {
    background-color: #FFFFFF;
    width: calc((100% - 3 * 24px) / 4);
}
/* ===============DESKTOP Section 4 ================ */
.container-portfolio {
    margin-top: 120px;
    margin-bottom: 120px;
}
.our-portfolio {
    row-gap: 48px;
}
.our-portfolio-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}
.application {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.foto {
    background-color: #F4F4FD;
}

.portfolio-images {
    position: relative;
    overflow: hidden;
}

.card-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 40px 32px;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-list:hover .card-text {
    transform: translateY(0%);
}

.card-text p {
    color: #F4F4FD;
}

/* ================== DESKTOP FOOTER ======================= */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: unset;
    }
.low {
    padding: 96px 0;
}
.container-logo {
    margin-left: 16px;
    
}
.container-media {
    margin-right: 80px;
}
.foter-subscribe-form-input {
    margin: 0;
    margin-right: 16px;
    
}

}

/* ===============DESKTOP  STYLE end==================== */