h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
}
.link {
    text-decoration: none;
}
button {
    cursor: pointer;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* ===============MOBILE HEADER STYLE==================== */
.menu {
    display: none;
}
.contact {
    display: none;
}
.page-header {
    padding-top: 15px;
    padding-bottom: 8px;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: var(--IRIS, #4D5AE5);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-link {
    color: #2E2F42;
    }

@media screen and (max-width:766px) {
.mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    /* --=============MOBILE MENU================ */

    .mobile-menu-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        transform: translateX(100%);
    }
    .mobile-menu-wrapper.is-open {
        transform: translateX(0%);
        transition: transform 250ms linear;
    }
    .mobile-menu-container {
        position: relative;
    }
    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        background-color: #E7E9FC;
        stroke: #2E2F42;
        padding: 0;
        line-height: 0;
        border-radius: 50%;
        border: 1px solid rgba(46, 47, 66, 0.1);
        cursor: pointer;
        }
    .mobile-menu-navigation {
        display: inline-flex;
        margin-top: 72px;
        flex-direction: column;
        align-items: flex-start;
    }
    .mobile-menu-item {
        margin-bottom: 40px;
    }
    .mobile-menu-link {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
    }
    .mobile-menu-link-own {
        color: #404BBF;
    }
    .mobile-contact {
        margin-top: 168px;
    }
    .mobile-contact-container {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }
    .mobile-contact-style {
        color: #4D5AE5;
        font-style: normal;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02;
        }
    .tel {
        color: #434455;
    }
    .mobile-block-icons-low {
        display: inline-flex;
        align-items: flex-start;
        width: 280px;
        gap: 40px;
        margin-top: 48px;
    }
    .mobile-team-icon-low {
        fill: #F4F4FD;
    }
    .mobile-all-icons-low {
        width: 40px;
        height: 40px;
    }
    .mobile-icons-low {
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
/* ===============MOBILE HEADER STYLE==================== */
@media screen and (min-width: 766px) {
.container {
    max-width: 736px;
}



/* ===============TABLET HEADER STYLE==================== */
.mobile-menu-wrapper {
    display: none;
}
.mobile-menu-open-btn {
    display: none;
}
.page-navigation {
display: flex;
}
.menu {
display: flex;
}
.contact {
display: flex;
}
/* ===============TABLET HEADER STYLE==================== */
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1168px;
    }
}

/* ===============DESKTOP HEADER STYLE==================== */

/* ===============DESKTOP HEADER STYLE==================== */